<a href="https://colab.research.google.com/github/cedricbony/nsi1re/blob/main/NSI_105A_S%C3%A9quences_tuples_et_tableaux.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NSI#105A - S√©quences : tuples et tableaux

Il est possible de "stocker" **plusieurs valeurs dans une m√™me structure**, ce type de structure est appel√© une **s√©quence**. 

De fa√ßon plus pr√©cise, nous d√©finirons une s√©quence comme un ensemble fini et ordonn√© d'√©l√©ments indic√©s de 0 √† n-1 (si cette s√©quence comporte n √©l√©ments). Rassurez-vous, nous reviendrons ci- dessous sur cette d√©finition. Nous allons √©tudier plus particuli√®rement 2 types de s√©quences : les **tuples** et les **tableaux** (il en existe d'autres que nous n'√©voquerons pas ici).

## Les tuples

### D√©finitions de base

En voici un exemple tr√®s simple :

In [ ]:
mon_tuple = (5,8,6,9)

Dans le code ci-dessus, la variable "mon_tuple" r√©f√©rence un tuple, ce tuple est constitu√© des entiers 5, 8, 6 et 9. Comme indiqu√© dans la d√©finition, chaque √©l√©ment du tuple est indic√© (il poss√®de un indice):
* le premier √©l√©ment du tuple (l'entier 5) poss√®de l'indice 0
* le deuxi√®me √©l√©ment du tuple (l'entier 8) poss√®de l'indice 1
* le troisi√®me √©l√©ment du tuple (l'entier 6) poss√®de l'indice 2
* le quatri√®me √©l√©ment du tuple (l'entier 9) poss√®de l'indice 3

Comment acc√©der √† l'√©l√©ment d'indice i dans un tuple ?
Simplement en utilisant la *notation entre crochets* :

In [ ]:
# Pensez √† ex√©cuter la cellule plus haut avant celle-ci !
a = mon_tuple[2]

üî∏ Quelle est la valeur r√©f√©renc√©e par la variable `a` ? V√©rifiez-le gr√¢ce √† la console ci-dessous :

In [ ]:
a

6

**ATTENTION** : dans les s√©quences les indices **commencent toujours √† 0** (le premier √©l√©ment de la s√©quence a pour indice 0), oublier cette particularit√© est une source d'erreur "classique".

üî∏ Compl√©tez le code ci-dessous (en rempla√ßant les `..`) afin qu'apr√®s l'ex√©cution de ce programme, la variable `a` r√©f√©rence l'entier 8

In [ ]:
a = mon_tuple[..]

Un tuple ne contient pas forc√©ment des nombres entiers, il peut aussi contenir des nombres d√©cimaux, des cha√Ænes de caract√®res, des bool√©ens...

üî∏ Quel est le r√©sultat attendu apr√®s l'ex√©cution de ce programme ?
V√©rifiez votre hypoth√®se en le testant.

In [ ]:
mon_tuple = ("am", "Groot", "I")
print(mon_tuple[2] + " " + mon_tuple[0] + " " + mon_tuple[1] + "!")

I am Groot!

### Propri√©t√©s des tuples

üîπ Gr√¢ce au tuple, une fonction peut renvoyer plusieurs valeurs :

üî∏ Analysez et testez le code suivant :

In [ ]:
def add(a, b):
  c=a+b
  return (a, b, c)      # Remarquez ce que renvoie la fonction
valeurs = add(5, 8)
print(f"{valeurs[0]} + {valeurs[1]} = {valeurs[2]}")

5 + 8 = 13

Il faut bien comprendre dans l'exemple ci- dessus que la variable `valeurs` r√©f√©rence un tuple (**puisque la fonction `add` renvoie un tuple**), d'o√π la notation entre crochets utilis√©e avec `valeurs` (`valeurs[1]`, ...)

üîπ Il est possible d'assigner √† des variables les valeurs contenues dans un tuple :

üî∏ Analysez cette ligne et associez √† chaque variable la valeur qui lui est r√©f√©renc√©e : v√©rifiez-vous en les affichant.

In [ ]:
a, b, c, d = (5, 8, 6, 9)

## Les tableaux

### D√©finitions et propri√©t√©s

**ATTENTION** : Dans la suite nous allons employer le terme **tableau**. Pour parler de ces "tableaux" les concepteurs de Python ont choisi d'utiliser le terme de **list** ("liste" en fran√ßais).

Pour √©viter toute confusion, notamment par rapport √† des notions qui seront abord√©es en terminale, le choix a √©t√© fait d'employer **tableau** √† la place de **liste** (dans la documentation vous rencontrerez le terme *list*, cela ne doit pas vous pertuber !). **Une liste est**, de mani√®re simplifi√©e, **un tableau ne poss√©dant qu'une ligne**, et `n` colonnes (que l'on appelle **longueur**, ou **dimension**).

‚ù§Ô∏è Il n'est **pas possible de modifier un tuple** apr√®s sa cr√©ation (on parle d'**objet immuable**). Si vous essayez de modifier un tuple existant, l'interpr√©teur Python vous renverra une erreur. 

**Les tableaux** sont,comme les tuples, des s√©quences, mais √† la diff√©rence des tuples, ils **sont modifiables** (on parle d'objets **mutables**).
Pour cr√©er un tableau, il existe diff√©rentes m√©thodes : une de ces m√©thodes ressemble beaucoup √† la cr√©ation d'un tuple :

In [ ]:
mon_tab = [5, 8, 6, 9, 12, 2]

Notez la pr√©sence des **crochets `[]`** √† la place des parenth√®ses !

üîπ On peut aussi cr√©er ce m√™me tableau de cette fa√ßon :

In [ ]:
mon_tab = [5] + [8,6,9] + [12,2]
print(mon_tab)

[5, 8, 6, 9, 12, 2]

üîπ Et si c'est un tableau qui contient plein d'√©l√©ments identiques :

In [ ]:
oui_tab = ["Oui"] * 10
print(oui_tab)

['Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui']

üîπ Un tableau est une s√©quence, il est donc possible de "r√©cup√©rer" un √©l√©ment d'un tableau √† l'aide de son indice (de la m√™me mani√®re que pour un tuple) :

üî∏ Ecrire l'instruction permettant de r√©cup√©rer la valeur 9 du tableau `mon_tab` cr√©√© pr√©c√©demment.

In [ ]:
# Soyez certain(e) d'ex√©cuter la toute premi√®re cellule de code avant celle-ci !

üîπ Il est possible de modifier un tableau √† l'aide de la *notation entre crochets* :

In [ ]:
mon_tab[3] = 15
print(mon_tab)

[5, 8, 6, 15, 12, 2]

Comme vous pouvez le constater avec l'exemple ci-dessus, l'√©l√©ment d'indice 3 (le nombre entier 9) a bien √©t√© remplac√© par le nombre entier 15.

üî∏ Modifiez le premier √©l√©ment (d'indice 0) de ce tableau par ce que vous voulez !

üîπ Il est aussi possible d'ajouter un √©l√©ment en fin de tableau √† l'aide de la m√©thode `append()` :

In [ ]:
mon_tab.append(28)
print(mon_tab)

[5, 8, 6, 15, 12, 2, 28]

üî∏ Ajoutez ce que vous voulez √† la fin de ce tableau :

üîπ L'instruction `del` permet de supprimer un √©l√©ment d'un tableau en utilisant son index :

In [ ]:
del mon_tab[1]
print(mon_tab)

[5, 6, 15, 12, 2, 28]

üî∏ Supprimez n'importe quelle autre valeur de ce tableau :

üîπ La m√©thode `pop()` supprime la derni√®re valeur du tableau :

In [ ]:
mon_tab.pop()
print(mon_tab)

[5, 6, 15, 12, 2]

üîπ La fonction `len()` permet de connaitre le nombre d‚Äô√©l√©ments pr√©sents dans une s√©quence (tableau et tuple) :

In [ ]:
print(len(mon_tab))

üîπ La m√©thode `sort()` permet de trier un tableau :

In [ ]:
mon_tab.sort()
print(mon_tab)

üîπ Au contraire, la m√©thode `shuffle()` du module `random` permet de le d√©sorganiser :

In [ ]:
import random
random.shuffle(mon_tab)
print(mon_tab)

üîπ La m√©thode `reverse()` renverse l'ordre des √©l√©ments du tableau :

In [ ]:
mon_tab.reverse()
print(mon_tab)

üîπ On peut aussi extraire un √©chnatillon al√©atoire de notre tableau avec la m√©thode `sample()` du module `random` :

In [ ]:
import random
# Syntaxe : random.sample(tableau, nb d'√©l√©ments √† extraire)
extrait = random.sample(mon_tab, 2)
print(extrait)

ü§î Une petite parenth√®se : on pourrait s'interroger sur l'int√©r√™t d'utiliser un tuple puisque le tableau permet plus de choses ! La r√©ponse est simple : **les op√©rations sur les tuples (recherche, longueur, etc.) sont plus "rapides"**. Quand vous savez que votre tableau ne sera pas modifi√©, il est pr√©f√©rable d'utiliser un tuple √† la place d'un tableau !

üîπ Un tableau, comme un tuple, peut contenir des donn√©es tr√®s diverses, et mix√©es : des entiers peuvent cotoyer des caract√®res ou des bool√©ens :

In [ ]:
variable = 'id√©e'
mix = ["Deux", 56, "Youpi !", variable, True ]
print(mix)

['Deux', 56, 'Youpi !', 'id√©e', True]

üî∏ Ajoutez d'autres √©l√©ments vari√©s √† ce tableau, entra√Ænez-vous √† en supprimer, en modifier, et d√©terminez enfin sa longueur d'apr√®s ce que vous avez appris.

### La boucle `for` pour parcourir un tableau

On peut parcourir chacun des √©l√©ments d'une s√©quence (tableau ou tuple) √† l'aide d'une simple boucle `for` :

In [ ]:
for element in mix:
  print(element)

Quelques explications : comme son nom l'indique, la boucle `for` est une boucle ! Nous "sortirons" de la boucle une fois que tous les √©l√©ments du tableau `mix` auront √©t√© parcourus. La variable `element` est une variable qui prendra, √† chaque passage dans la boucle, les valeurs du tableau. **Le choix du nom de cette variable est totalement arbitraire !** La preuve, ex√©cutez le code ci-dessous :

In [ ]:
for zurglubiblougaaa in mix:
  print(zurglubiblougaaa)
  
# Mais bon...c'est moins pratique quand m√™me...

üîπ Dans la boucle `for... in`, il est possible d‚Äôutiliser la fonction pr√©d√©finie `range()` √† la place d‚Äôun tableau d‚Äôentiers :

In [ ]:
for element in range(0,5):
  print(element)

print("est strictement √©quivalent √† :")
for element in [0,1,2,3,4]:
  print(element)

print("On peut aussi compter √† l'envers (avec -1) mais attention aux bornes :")
for back in range(5,0,-1):
  print(back)

0
1
2
3
4
est strictement √©quivalent √† :
0
1
2
3
4
On peut aussi compter √† l'envers (avec -1) mais attention aux bornes :
5
4
3
2
1

**ATTENTION** : si vous avez dans un programme `range(a,b)`, `a` est la borne **inf√©rieure** et `b` a borne **sup√©rieure**. Vous ne devez surtout pas perdre de vue que **la borne inf√©rieure est incluse**, mais que **la borne sup√©rieure est exclue**. On peut aussi pr√©ciser dans `range()` le pas d'incr√©mentation...qui peut √™tre n√©gatif si on veut compter √† rebours !

üî∏ Ecrire diff√©remment avec `range()` les listes suivantes :

In [ ]:
print("exercice 1 :")
'''
for val in [0,1,2,3]:
  print(val)
'''
print("exercice 2 :")
'''
for single in [0]:
  print(single)
'''
print("exercice 3 :")
'''
for i in [4,6,8,10,12]:
  print(i)
'''
print("exercice 4 :")
'''
for back in [10, 9, 8, 7, 6, 5]:
  print(back)
'''
print("exercice 5 :")
'''
for cinq in [50,45,40,35,30]:
  print(cinq)

üîπ Il est possible d'utiliser la m√©thode `range()` pour "remplir" un tableau, gr√¢ce √† la m√©thode `append()` :

üî∏ Proposez une boucle `for` qui, √† partir d'un tableau vide, le remplit avec les 100 premiers entiers naturels, 0 exclu :

In [ ]:
# Cr√©ation d'un tableau vide 'tab' :
tab = []

üî∏ Ecrivez un programme qui remplit un tableau vide `pairs` avec tous les entiers naturels pairs (0 exclu) jusqu'√† 50 inclus :

üî∏ Ecrivez un programme qui simule le compte √† rebours de lancement d'une fus√©e pendant les 10 derni√®res secondes, puis √©crit "Lift-off !" √† la fin :

### Cr√©er un tableau par compr√©hension

üîπ Il est possible de remplir un tableau en une seule ligne, par la m√©thode dite de compr√©hension, que nous avons d√©j√† aper√ßue dans un cours pr√©c√©dent :

In [ ]:
# cr√©ation d'un tableau par compr√©hension :
tableau_comp = [i for i in range(0,5)]


# On obtient bien le m√™me r√©sultat en l'affichant :
print(tableau_comp)

[0, 1, 2, 3, 4]

üî∏ Ecrire un programme qui cr√©e les 3 tableaux des applications pr√©c√©dentes (avec la m√©thode `range()`), mais cette fois-ci en compr√©hension :

In [ ]:
# Tableau tab des 100 premiers entiers naturels :

# Tableau pairs jusqu'√† 50 inclus :

# Compte √† rebours de 10 √† 0 :

üîπ Les compr√©hensions de tableau permettent de rajouter une condition `if` :

üî∏ Quel est le contenu du tableau r√©f√©renc√© par la variable `tab` apr√®s l'ex√©cution du programme ci-dessous ? (utilisez la console pour v√©rifier votre r√©ponse).
```
l = [1, 7, 9, 15, 5, 20, 10, 8]
tab = [p for p in l if p > 10]
```

üîπ On peut aussi utiliser des op√©rateurs arithm√©tiques pour g√©n√©rer le tableau :

üî∏ Quel est le contenu du tableau r√©f√©renc√© par la variable `carre` apr√®s l'ex√©cution du programme ci-dessous ? (utilisez la console pour v√©rifier votre r√©ponse).
```
l = [1, 7, 9, 15, 5, 20, 10, 8]
carre = [p**2 for p in l if p < 10]
```

Comme vous pouvez le constater, la **compr√©hension de tableau** permet d'obtenir des combinaisons relativement complexes.

üî∏ Cr√©er un tableau par compr√©hension, qui √©l√®ve, √† partir de la liste (du tableau) `l`, le **cube des nombres pairs** et le **carr√© des nombres impairs**. On appellera ce tableau `complexe`.

```
Aide √† la syntaxe :
La structure d'une condition par compr√©hension est :
[f(x) if condition else g(x) for x in sequence]
```

### Les tableaux de tableaux

**Chaque √©l√©ment** d'un tableau peut aussi **√™tre un tableau** ! On parle alors de **tableau de tableaux**. Voici un exemple de tableau de tableaux :

In [ ]:
m = [[1, 3, 4], [5 ,6 ,8], [2, 1, 3], [7, 8, 15]]
# Que l'on pr√©f√®re souvent pr√©senter ainsi :
m = [[1, 3, 4],
     [5, 6, 8],
     [2, 1, 3],
     [7, 8, 15]]

Nous obtenons ainsi quelque chose qui ressemble beaucoup √† un "objet math√©matique" tr√®s utilis√© : **une matrice**.

Il est √©videmment possible d'utiliser les indices de position avec ces "tableaux de tableaux". Pour cela nous allons consid√©rer notre tableau de tableaux comme une matrice, c'est √† dire en utilisant les notions de "ligne" et de "colonne". Dans la matrice ci-dessus :

En ce qui concerne les lignes :
* `1, 3, 4` constituent la premi√®re ligne 
* `5, 6, 8` constituent la deuxi√®me ligne 
* `2, 1, 3` constituent la troisi√®me ligne 
* `7, 8, 15` constituent la quatri√®me ligne

En ce qui concerne les colonnes :
* `1, 5, 2, 7` constituent la premi√®re colonne 
* `3, 6, 1, 8` constituent la deuxi√®me colonne 
* `4, 8, 3, 15` constituent la troisi√®me colonne

üîπ Pour cibler un √©l√©ment particulier de la matrice, on utilise la notation avec "doubles crochets" : `m[ligne][colonne]` (sans perdre de vue que la premi√®re ligne et la premi√®re colonne ont pour indice 0 !)

üî∏ Quelle est la valeur r√©f√©renc√©e par la variable `a` apr√®s l'ex√©cution du programme ci-dessous ? (utilisez la console pour v√©rifier votre r√©ponse).

In [ ]:
a = m[1][2]

üî∏ Quel est le contenu du tableau r√©f√©renc√© par la variable `m2` apr√®s l'ex√©cution du programme ci-dessous ? (utilisez la console pour v√©rifier votre r√©ponse).

In [ ]:
m = [1, 2, 3]
m2 = [m, m, m]
m[0] = 100
print(m2)

üî∫ **ATTENTION** :Comme vous pouvez le constater, la modification du tableau r√©f√©renc√© par la variable `m` entraine **la modification du tableau r√©f√©renc√© par la variable `m2`** (alors que nous n'avons pas directement modifi√© le tableau r√©f√©renc√© par `m2` !!!). Il faut donc √™tre **tr√®s prudent** lors de ce genre de manipulation afin d'√©viter des modifications non d√©sir√©es.

üîπ Il est possible de parcourir l'ensemble des √©l√©ments d'une matrice √† l'aide d'une double boucle `for` :

In [ ]:
m = [[1, 3, 4],
     [5, 6, 8],
     [2, 1, 3],
     [7, 8, 15]]
nb_colonne = 3
nb_ligne = 4
for i in range(0, nb_ligne):
  for j in range(0, nb_colonne):
    a = m[i][j]
    print(a, end=" ")

üî∏ Quelles modifications doit-on apporter √† ce code si l'on veut lister les √©l√©ments de la matrice non pas par ligne d'abord, mais par colonne puis par ligne ? Testez-les ci-dessous :

üî∏ Quelle fonction Python, d√©j√† √©tudi√©e plus haut, permettrait d'√©viter de cr√©er une variable `nb_ligne` ?

üî∏ Cr√©ez, √† l'aide de deux boucles ` for`, un tableau appel√© `identite` qui cr√©e **une matrice carr√©e** (m√™me nombre de lignes que de colonnes, appel√© **dimension**), ne comprenant que des 1 sur sa diagonale (le reste √©tant des 0) comme pr√©sent√© sur cette image (la dimension peut √™tre saisie par l'utilisateur):

![Math_identify_matrix_3x3.png]()

In [ ]:
# Aides : 
# -------
# - n'oubliez pas de cr√©er chaque ligne avant d'ajouter les 0 et les 1,
# - la methode append() sera ici tr√®s utile !

### La copie de tableau : un faux ami !

üî∫ La copie d‚Äôun tableau par l'op√©rateur **√©gal** `=` peut faire penser que la copie et son original sont deux √©l√©ments dissoci√©s. 

**Ce n‚Äôest h√©las pas le cas**, comme vous pouvez le constater :

In [ ]:
tab_a = [1,2,3]
tab_b = tab_a
tab_b.append (4)
print (f"Tableau a: {tab_a}")
print (f"Tableau b: {tab_b}")

Tableau a: [1, 2, 3, 4]
Tableau b: [1, 2, 3, 4]

Pour r√©aliser une copie diff√©renci√©e de l‚Äôorginale, il faut soit  soit faire la **copie √† la main**, **utiliser le module `copy`** et sa fonction `deepcopy()`.

In [ ]:
# Copie manuelle :
tab_a = [1,2,3]
tab_b = []

for i in tab_a:
  tab_b.append(i)

# Test d'ajout d'un √©l√©ment sur la copie b :
tab_b.append (4)

# V√©rification que cela n'a pas modifi√© l'origine a :
print (f"Tableau a: {tab_a}")
print (f"Tableau b: {tab_b}")

In [ ]:
# Module copy :
import copy
tab_a = [1,2,3]
b = copy.deepcopy(tab_a)    
# La fonction deppecopy() dissocie le tableau original tab_a

# M√™me id√©e ici : on ajoute un √©l√©ment √† b et on v√©rifie que le tableau original n'a pas √©t√© modifi√© :
tab_b.append (4)
print (f"Tableau a: {tab_a}")
print (f"Tableau b: {tab_b}")

**C'est un point tr√®s important**, qui, si on ne le sait pas, peut parfois provoquer des erreurs inattendues, voire des cons√©quences catastrophiques dans certains programmes (perte de donn√©es, entre autre, par modification d'une liste originale !).